body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}


/* Override the default bootstrap behavior */
.img-responsive {
    width:100%;
}


.dl-horizontal dt {
    white-space: normal;
}

.margin-10 {
    margin:20px;
}

.margin-top-bottom {
    padding:20px 0;
}

.margin-bottom {
    margin-bottom:20px;
}

.no-padding {
    padding-left: 0!important;
    padding-right: 0!important;
}

.no-padding .panel-body {
    padding: 0!important;
}

.pad-top-9 {
    padding-top:9px;
}

.bright-text {
    color:#fff;
}

.name-banner {
    background: rgba(231,76,60,0.5);
    margin-top: -7.3vh;
    position:relative;
    padding-top: 5px;
    padding-bottom: 5px;
}
