<div class="form-group">
    <input class="form-control" type="text" ng-model="player.name" placeholder="Fullname" required />
</div>
<div class="form-group">
    <input class="form-control" type="text" ng-model="player.sex" placeholder="Male/Female" required />
</div>
<div class="form-group">
    <input class="form-control" type="date" ng-model="player.dob" placeholder="DD/MM/YYYY" />
</div>
<div class="form-group">
    <input class="form-control" type="file" ng-model="player.image" name="ImageData" id="ImageData" onchange="loadImage(this);" />
</div>
<div class="form-group">
    <input class="form-control" type="text" ng-model="player.style" placeholder="Player Style e.g. Loose Aggressive" />
</div>
<div class="form-group">
    <input class="form-control" type="text" ng-model="player.description" placeholder="Player Description..." />
</div>
<div class="form-group">
    <input class="form-control" type="tel" ng-model="player.telephone" placeholder="01234567890" />
</div>
<div class="form-group">
    <input class="form-control" type="email" ng-model="player.email" placeholder="name@example.com" />
</div>