<div class="panel panel-info">
    <div class="panel-heading">
        <h1 class="panel-title">{{player.name}}</h1>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6">
                <dl class="dl-horizontal">
                    <dt class="pad-top-9" ng-hide="player.sex == null">Sex:</dt>
                    <dd class="well well-sm" ng-hide="player.sex == null">{{player.sex}}</dd>
                    <dt class="pad-top-9" ng-hide="player.dob == null">Age:</dt>
                    <dd class="well well-sm" ng-hide="player.dob == null">{{player.dob | ageFilter}}</dd>
                    <dt class="pad-top-9" ng-hide="player.style == null">Style:</dt>
                    <dd class="well well-sm" ng-hide="player.style == null">{{player.style}}</dd>
                    <dt class="pad-top-9" ng-hide="player.description == null">Description:</dt>
                    <dd class="well well-sm" ng-hide="player.description == null">{{player.description}}</dd>
                </dl>
                <div class="pull-right text-right text-info">
                    <div class="well well-sm" ng-hide="player.telephone == null">{{player.telephone}}</div>
                    <div class="well well-sm" ng-hide="player.email == null"><a href="mailto://'{{player.email}}'">{{player.email}}</a></div>
                </div>
            </div>
            <div class="col-md-6">
                <img id="player-image" class="img-responsive" src="images/avatar-blank.png" alt="{{player.name}}" />
            </div>
        </div>
    </div>
</div>