<!DOCTYPE html>
<html ng-app="player">
<head>
    <title></title>
    <meta charset="utf-8" />

    <link href="Content/bootstrap.min.css" rel="stylesheet" />
    <link href="Content/site.css" rel="stylesheet" />
    <script src="Scripts/angular.min.js"></script>
    <script src="Scripts/angular-route.min.js"></script>
    <script src="Scripts/jquery-1.9.1.min.js"></script>
    <script src="Scripts/player/player.js"></script>
</head>
<body>
    <div class="container body-content" ng-controller="PlayerController as playerCtrl">

        <div ng-show="mode === 'list'">

            <div class="container">

                <div ng-click="mode = 'create'" class="btn btn-info">Create</div>

                <div class="container panel no-padding" ng-repeat="player in players">
                    <player-display-list></player-display-list>
                </div>
            </div>
        </div>

        <div ng-show="mode === 'create'">
            <div ng-click="mode = 'list'" class="btn btn-info">Players</div>

            <div class="container">
                <form name="newPlayer" class="form-horizontal">
                    <h4>New Player</h4>
                    <hr />
                    <div class="row">
                        <div class="col-md-4">
                            <player-input></player-input>
                        </div>
                        <div class="col-md-8">
                            <player-display></player-display>
                        </div>
                    </div>
                    <div class="row">
                        <div id="save-player"
                             class="btn btn-success btn-lg btn-block margin-top-bottom no-padding"
                             ng-click="addPlayer(player)">Save</div>
                    </div>
                </form>
            </div>
        </div>
       
        <div ng-show="mode === 'edit'">
            <p>edit!</p>
        </div>
    </div>
</body>
</html>